

/* Rating container styling */
.rating {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
  width: 50%;
<<<<<<< HEAD
  margin-bottom: 50px;
	display: inline-block;
=======
>>>>>>> f6486415ab8c72a97dfa6ed0c6f41b45e2b70965
}
/* Hidden class for opacity */
.hidden {
  opacity: 0;
}

/* Star styling */
.star {
  display: inline-block;
  margin: 5px;
  font-size: 30px;
  color: whitesmoke;
  position: relative;
}

/* Animate class for animation */
.animate {
  animation: stretchBounce 0.5s ease-in-out;
}

/* Hidden stars */
.starHidden {
  display: inline-block;
  margin: 5px;
  font-size: 30px;
  position: relative;
  opacity: 0;
}

/* Full star styling */
.full:before {
  font-family: fontAwesome;
  content: "\f005"; /* Unicode for solid star */
  float: right;
}

.fullArea{
  position: absolute;
  float: right;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(15px);
}

/* Half star styling */
.half:before {
  font-family: fontAwesome;
  content: "\f089"; /* Unicode for half star */
  position: absolute;
  float: left;
  z-index: 3;
  width: 50%;
}

/* Star color for rated stars */
.starColour {
  color: #ffd700;
}

@keyframes stretchBounce {
  /* Define your animation keyframes here */
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Selected star styling */
.selected::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}

.selected.pulse::before {
  transform: scale(3);
  opacity: 0;
}

.selected.isAnimated::before {
  transition: 1s ease-out;
}

/* Score display styling */
.score {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: green;
  margin-top: 20px;
  margin-left: 50px;
}

.scoreRating {
  vertical-align: super;
  top: -5px;
  position: relative;
  font-size: 150%;
}

.total {
  vertical-align: sub;
  top: 0px;
  position: relative;
  font-size: 100%;
}

