.formroot{
	flex: 1 2 calc(40% - 1rem);
}

.msform {
	width: 600px;
	margin-top: 50px;
	text-align: center;
	position: relative;
}
.fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*inputs*/
.msform input, .msform textarea {
	padding: 25px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #1A1F23;
	font-size: 13px;
}
/*buttons*/
.msform .actionbutton {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}
.msform .action-button:hover, .msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fstitle {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 30%;
	float: left;
	position: relative;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
	background: #27AE60;
	color: white;
}




.dropdowncontent {
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f9f9f9;
	min-width: 80%;
	box-shadow: 0px 8px 16px 
		0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	grid-template-columns: repeat(2, 1fr);
  	grid-auto-rows: max-content;
	width: 400px;
	max-height: 360px;
  	grid-column-gap: 20px;
  	grid-row-gap: 20px;
	transition: 0.3s;
}


.dropdowncontent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	
}

.dropdown:hover .dropdowncontent {
	display: grid;

}

.dropdowncontent::-webkit-scrollbar{
	width: 15px;
}

.dropdowncontent::-webkit-scrollbar-thumb {
	background: #949494;
	border-radius: 10px;
	border: 4px solid transparent;
	background-clip: padding-box;
}

.label {
	position: relative;
  }
  
  .label:before {
	content: "";
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("data:image/svg+xml,%3Csvg fill='%23000000' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='140px' height='140px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58 c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022 c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  }
  

@media screen and (max-width: 805px) {

.msform {
	width: 90%;
}

}