

/* Style the top navigation bar */


.wrapper{
  margin: 5 auto;
  
}
.logo {
  filter: invert(1);
}


/* Change color on hover */
.navlist ul{
  list-style-type: none;
  display: flex;
  
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  height:'15svh';
}
.navlist li:nth-child(-n+4){
    translate: -80%;
}

.navlist li a{
  margin: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  display: block;
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}


.navlist a:hover {
  color: white;
}

.menue{
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --forground: white;
}

.hamburgermenu{
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 45px;
  right: 15px;
  z-index: 2;
}

.hamburgermenu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: transparent;
  pointer-events: none;
}

.hamburgermenu input:checked {
  background: red;
}


.hamburgermenu::before, 
.hamburgermenu::after,
.hamburgermenu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--forground);
  border-radius:1rem;
  
}



@media screen and (max-width: 805px) {


  .hamburgermenu:has(input:checked) + .navlist ul{
    display: flex;
  }  

  .navlist{
    position: relative;
    top: -25px;
    width: 40%;
  }

  .navlist ul{
    display: none;
    flex-direction: column;
    background: #000000;


  } 
  .navlist li {
    align-items: center;
  }
  .navbar{
    flex-direction: column;
  }
  

  

}