.sectiontitle {
	font-size: 28px;
	margin-bottom: 5%;
	padding-bottom: 5%;
	margin-left: 33%;
	font-weight: 400;
	display: inline-block;
	position: relative;
	text-align: 'center';
}

.customername {
	font-size: 20px;
	margin-bottom: 2%;
	color: '#fff';
}

.customerreview {
	font-size: 16px;
	margin-bottom: 2%;
    color: '#fff';
}

.carouselfeedback {
	font-weight: 400;
	text-align: center;
	background: '#364d79';
	overflow: hidden;
}

.reviewCard {
	margin-top: 5%;
	margin-bottom: 5%;
}