.contactinfo {
    width: 40%;
    margin: 150px 0 0 5%;
    color: var(--main-text-color);    
}

.contactinfo div{
    display: grid;
    width: 350px;
    grid-template-columns: fit-content(40%) fit-content(40%) 1fr;
    grid-gap: 30px;
  }

