

/* Style the top navigation bar */


.wrapper{
    margin: 5 auto;
    
}
.footer {
    z-index:3;
    display: flex;
    align-items: center;
    justify-content: center; /* statt justify-content: space-between; */
    background-color: #000000;
    height: 100px; /* Höhe, damit der Footer sichtbar ist */
    position: relative;
    bottom: 0;
    width: 100%;
  }
.text {
    font-family: Montserrat, sans-serif;
    color: gray;
}
.text:hover {
    color: white;
}
 